.portfolio{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    width:100%;
    margin:1rem -1rem;
    padding:0;
    list-style: none;

}
.portfolio li{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    margin-bottom: 1rem;
    margin:1rem 0;
}
.portfolio li h3{
    display:flex;
    flex-direction:row;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom:0.5rem;
   
}
.portfolio li a{
    color:#fff;
    text-decoration: none;
}

.portfolio li a:hover{
    text-decoration: underline;
}
.portfolio  li h3.favicon.relogio::before{
    content:"";
    display: inline-block;
    width:1rem;
    height:1rem;
    background-repeat:no-repeat;
    background-size:contain;
    background-image:url("https://raw.githubusercontent.com/gogadgs/RelogioJavascript/main/relogio.png");
    margin-right: 0.5rem;
}
.portfolio  li h3.favicon.calculadora::before{
    content:"";
    display: inline-block;
    width:1rem;
    height:1rem;
    background-repeat:no-repeat;
    background-size:contain;
    background-image:url("https://raw.githubusercontent.com/gogadgs/calculadora-javascript/main/favicon.png");
    margin-right: 0.5rem;
}
.portfolio  li h3.favicon.Curriculo::before{
    content:"";
    display: inline-block;
    width:1rem;
    height:1rem;
    background-repeat:no-repeat;
    background-size:contain;
    background-image:url("https://raw.githubusercontent.com/gogadgs/curriculoHTML/main/favicon.png");
    margin-right: 0.5rem;
}
.portfolio  li h3.favicon.calculadoraReact::before{
    content:"";
    display: inline-block;
    width:1rem;
    height:1rem;
    background-repeat:no-repeat;
    background-size:contain;
    background-image:url("https://raw.githubusercontent.com/gogadgs/CalculadoraReact/main/public/favicon.ico");
    margin-right: 0.5rem;
}
.portfolio  li h3.favicon.qzz::before{
    content:"";
    display: inline-block;
    width:1rem;
    height:1rem;
    background-repeat:no-repeat;
    background-size:contain;
    background-image:url("https://raw.githubusercontent.com/gogadgs/quizzz/main/img/favicon.icon");
    margin-right: 0.5rem;
}
.portfolio  li h3.favicon.pokedex::before{
    content:"";
    display: inline-block;
    width:1rem;
    height:1rem;
    background-repeat:no-repeat;
    background-size:contain;
    background-image:url("https://raw.githubusercontent.com/gogadgs/pokeApiDio/main/pokeballFavicon.png");
    margin-right: 0.5rem;
}
.portfolio  li h3.favicon.APIRepositorios::before{
    content:"";
    display: inline-block;
    width:1rem;
    height:1rem;
    background-repeat:no-repeat;
    background-size:contain;
    background-image:url("https://raw.githubusercontent.com/gogadgs/Api-repositorios/main/src/assets/logo-github.png");
    margin-right: 0.5rem;
}
 li a.github::before{
    content:"";
    display: inline-block;
    width:1rem;
    height:1rem;
    background-repeat:no-repeat;
    background-size:contain;
    background-image:url("../Icones/gitHub.svg");
    margin-right: 0.6rem;
}
 li a.vercel::before{
    content:"";
    display: inline-block;
    width:1rem;
    height:1rem;
    background-repeat:no-repeat;
    background-size:contain;
    background-image:url("../Icones/vercel.png");
    margin-right: 0.6rem;
    margin-top: 0.5rem;
}
 li a.netlify::before{
    content:"";
    display: inline-block;
    width:1rem;
    height:1rem;
    background-repeat:no-repeat;
    background-size:contain;
    background-image:url("../Icones/netlify.svg");
    margin-right: 0.6rem;
    margin-top: 0.5rem;
}
